<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit listing</h3>
    <br />
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=put"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title is good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          id="description"
          required
        >
    <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Description should be Invalid</div>
      </div>
      <br />

      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalImageUrl %>" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload new Image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <br />

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            placeholder="Price"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">price should be Invalid</div>
        </div>

        <br />

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            placeholder="Country"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">country name should be Invalid</div>
        </div>
      </div>
      <br />

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          placeholder="location"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">location should be Invalid</div>
      </div>
      <!-- <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          id="category"
          name="listing[category]"
          class="form-select"
          required
        >
          <option value="" disabled>Select a Category</option>
          <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
          <option value="Iconic cities" <%= listing.category === 'Iconic cities' ? 'selected' : '' %>>Iconic cities</option>
          <option value="Castle" <%= listing.category === 'Castle' ? 'selected' : '' %>>Castle</option>
          <option value="Village" <%= listing.category === 'Village' ? 'selected' : '' %>>Village</option>
          <option value="Mountrest" <%= listing.category === 'Mountrest' ? 'selected' : '' %>>Mountrest</option>
          <option value="Junglehut" <%= listing.category === 'Junglehut' ? 'selected' : '' %>>Junglehut</option>
          <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
          <option value="Beach" <%= listing.category === 'Beach' ? 'selected' : '' %>>Beach</option>
          <option value="ski-in/out" <%= listing.category === 'ski-in/out' ? 'selected' : '' %>>ski-in/out</option>
          <option value="Amazing pools" <%= listing.category === 'Amazing pools' ? 'selected' : '' %>>Amazing pools</option>
          <option value="Arctic" <%= listing.category === 'Arctic' ? 'selected' : '' %>>Arctic</option>
        </select>
      </div> -->

      <br />
      <button type="submit" class="btn btn-dark add-btn mt-1 mb-2">Add</button>
    </form>
  </div>
</div>
